<div class="p-3 form-inputs">
  <h5 class="font-weight-bold h3 text-center border-bottom">Contact me</h5>
  <p class="text-muted text-center h7">
    Feel free to contact me if you need any assistance, help or question about
    me.
  </p>
  <p class="text-muted text-center h7">
    Or visit any of my social media below:
  </p>

  <div class="container">
    <app-social-icon
      [url]="'https://github.com/alexandervcc'"
      [icon]="'i bi-github'"
      [text]="'alexandervcc'"
    ></app-social-icon>
    <app-social-icon
      [url]="'https://www.linkedin.com/in/alex-charco-cuenca/'"
      [icon]="'i bi-linkedin'"
      [text]="'Alex Charco Cuenca'"
    ></app-social-icon>
    <app-social-icon
      [url]="'https://twitter.com/alexander_vcc'"
      [icon]="'i bi-twitter'"
      [text]="'alexander_vcc'"
    ></app-social-icon>

  </div>
</div>
