<section id="single-project" class="container up-padding-page">
  <div class="w-100 path-container w-100">
    <p class="project-path font-weight-bold">
      <a [routerLink]="['/']">Home</a> /
      <a [routerLink]="['/projects']">Projects</a> /
      <a [routerLink]="['/projects']" [queryParams]="{ type: project?.type }"
        >{{ project?.type | titlecase }}
      </a> / 
      <span class="text-dark"> {{ project?.name }}</span>
    </p>
  </div>

  <app-project-data [project]="project"></app-project-data>
  <br />
</section>
