.scroll-button {
  background-color: "#f33fb0";
}

.bottom-rigth {
  position: fixed;
  z-index: 1;
  cursor: pointer;
  bottom: 2rem;
  right: 2rem;
}

.btn {
  width: 4rem;
  height: 4rem;
  background-color: #f33fb0;
}

