<div class="d-flex justify-content-center">
  <div class="row gx-5 contact-form">
    <div class="container form-text">
      <div class="row gx-2">
        <div class="col-12 col-12 col-md-6 form-column rigth-border">
          <app-contact-form-info></app-contact-form-info>
        </div>

        <div class="col-12 col-12 col-md-6 form-column">
          <form action="#">
            <h5 class="font-weight-bold h3 text-center">Form</h5>
            <div>
              <input
                type="text"
                class="form-control rounded border-white mb-3 form-input"
                id="name"
                placeholder="Name"
                required
              />
            </div>
            <div>
              <input
                type="email"
                class="form-control rounded border-white mb-3 form-input"
                placeholder="Email"
                required
              />
            </div>
            <div>
              <textarea
                id="message"
                class="form-control rounded border-white mb-3 form-text-area"
                rows="5"
                cols="30"
                placeholder="Message"
                required
              ></textarea>
            </div>
            <div class="text-center">
              <button class="btn submit-btn font-weight-bold text-uppercase">
                Send
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
