.contact-form {
  
  padding: 2rem 1rem;
  background-color: #ffffff;
  border-radius: 1rem;
  max-width: 60rem;
  min-height: fit-content;
  max-height: 50rem;
}

.rigth-border{
  border-right: 1px solid rgb(189, 189, 189);
}

.form-column{
  padding: 2rem;
}