<div
  class="card"
  [attr.data-aos]="index % 2 === 0 ? 'fade-right' : 'fade-left'"
>
  <div class="card-header bg-dark text-white">
    <h4 class="mx-2">{{ workExperienceItem.position }}</h4>
    <div class="mx-4">
      <h5>{{ workExperienceItem.company }}</h5>
      <h6 class="font-italic">
        {{ workExperienceItem.start | workDateFormat }} -
        {{ workExperienceItem.end | workDateFormat }}
      </h6>
    </div>
  </div>

  <div class="card-body">
    <ul class="card-text">
      <li
        class="font-weight-bold"
        *ngFor="let exp_desc of workExperienceItem.desc"
      >
        {{ exp_desc }}
      </li>
    </ul>
  </div>
</div>
