.me {
  font-weight: bold;
  height: fit-content;
  overflow: hidden;
}

.about--title__hello {
  margin-bottom: 0.5rem;
}

.about--title__name {
  margin: 0 0 1.5rem 0;
}

.about--title__role {
  margin: 0 0 2rem 0;
}

.about--title__desc {
  font-weight: normal;
  font-style: italic;
}

.image--home {
  background-image: url("../../../../assets/back-home.jpg");
  height: 100vh;
  background-size: cover;
}

.home-container {
  text-align: right;
  padding-top: 20rem;
}
