<section class="me">
  <div class="bg-image shadow-1-strong mb-5 image--home">
    <div class="container text-white home-container">
      <h5 class="about--title__hello">Hello, my name is</h5>
      <p class="about--title__name display-1 fw-bold">Alex Charco Cuenca</p>
      <p class="about--title__role display-3 fw-bold">Software Engineer</p>
      <h4 class="about--title__desc">
        I'm a software engineer with experience building Back-End, Front-End and
        Mobile products.
      </h4>
    </div>
  </div>
</section>
