.me {
  padding: 16rem 5rem 16rem 5rem;
  font-weight: bold;
  min-height: 100vh;
  height: fit-content;
}

.about--title__hello {
  margin-bottom: 0.5rem;
}

.about--title__name {
  margin: 0 0 1.5rem 0;
}

.about--title__role {
  margin: 0 0 2rem 0;
}

.about--title__desc {
  font-weight: normal;
  font-style: italic;
}
