.me {
  font-weight: bold;
  height: fit-content;
  overflow: hidden;
}

.about--title__hello {
  margin-bottom: 0.5rem;
}

.about--title__name {
  margin: 0 0 1.5rem 0;
}

.about--title__role {
  margin: 0 0 2rem 0;
}

.about--title__desc {
  font-weight: normal;
  font-style: italic;
}

.image--home {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/acc-portfolio-41c30.appspot.com/o/back-home.jpg?alt=media&token=492c3332-9621-444f-96fa-e7fc95b24451");
  height: 100vh;
  background-size: cover;
}

.home-container {
  text-align: right;
  padding-top: 20rem;
}
