<footer id="footer" class="footer-dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3 item">
        <h3>Explore</h3>
        <ul>
          <li [routerLink]="['']" fragment="about">
            <a href="#about">About Me</a>
          </li>
          <li [routerLink]="['']" fragment="experience">
            <a href="#experience">Experience</a>
          </li>
          <li [routerLink]="['']" fragment="projects">
            <a href="#projects">Projects</a>
          </li>
          <li [routerLink]="['']" fragment="contact">
            <a href="#contact">Contact</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3 item">
        <h3>Services</h3>
        <ul>
          <li>
            <a [routerLink]="['/projects']" [queryParams]="{ type: 'back' }"
              >Back-End Development</a
            >
          </li>
          <li>
            <a [routerLink]="['/projects']" [queryParams]="{ type: 'front' }"
              >Front-End Development</a
            >
          </li>
          <li>
            <a [routerLink]="['/projects']" [queryParams]="{ type: 'mobile' }"
              >Mobile Development</a
            >
          </li>
        </ul>
      </div>
      <div class="col-md-6 item text">
        <h3>Alex Charco Cuenca</h3>
        <p>
          Software Development. <br />
          Software Engineer since 2021 based on Ecuador. I have worked with
          Front-End, Back-End and Mobile technologies in order to build awesome
          solutions. If you have a project that you need help, advisory or
          consultancy. Feel free to contact me.
        </p>
      </div>
      <div class="col item social">
        <a href="https://github.com/alexandervcc" target="_blank">
          <i class="bi bi-github"></i>
        </a>
        <a
          href="https://www.linkedin.com/in/alex-charco-cuenca/"
          target="_blank"
        >
          <i class="bi bi-linkedin"></i>
        </a>
      </div>
    </div>
    <p class="copyright">Alex Charco Cuenca © 2022</p>
  </div>
</footer>
