<footer id="footer" class="footer-dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3 item">
        <h3>Explore</h3>
        <ul>
          <li><a href="#about">About Me</a></li>
          <li><a href="#experience">Experience</a></li>
          <li><a href="#projects">Projects</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3 item">
        <h3>Services</h3>
        <ul>
          <li><a href="/projects/web">Web Development</a></li>
          <li><a href="/projects/mobile">Mobile Development</a></li>
          <li><a href="/projects/design"> Design</a></li>
        </ul>
      </div>
      <div class="col-md-6 item text">
        <h3>Alex Charco Cuenca</h3>
        <p>
          Software Development. <br />
          Software Engineer since 2021 based on Ecuador. I have worked with
          Front-End, Back-End and Mobile technologies in order to build awesome
          solutions. If you have a project that you need help, advisory or
          consultancy. Feel free to contact me.
        </p>
      </div>
      <div class="col item social">
        <a href="https://github.com/alexandervcc" target="_blank">
          <i class="bi bi-github"></i>
        </a>
        <a
          href="https://www.linkedin.com/in/alex-charco-cuenca/"
          target="_blank"
        >
          <i class="bi bi-linkedin"></i>
        </a>
        <a href="https://twitter.com/alexander_vcc" target="_blank">
          <i class="bi bi-twitter"></i>
        </a>
      </div>
    </div>
    <p class="copyright">Alex Charco Cuenca © 2022</p>
  </div>
</footer>
