#projects{
    padding-top: 5rem;
    min-height: 70vh;
}

.info-holder{
    padding: 2rem;
}

.box-info{
    padding: 2rem;
}
.box-info > p{
font-size: 1.5rem;
font-style: italic;
}

.box-info>h1{
    font-size: 4rem;
}