<div class="card">
  <img class="card-img-top" src="{{ project.main_img }}" alt="Card image cap" />
  <div class="card-body">
    <p class="card-text">
      {{ project.description }}
    </p>
  </div>
  <div class="overflow-hidden p-2">
    <div class="row">
      <div class="col-12 col-xs-6 col-sm-6 mb-1">
        <a [routerLink]="['/project', project.id]" class="btn btn-danger w-100"
          >Details</a
        >
      </div>
      <div class="col-12 col-xs-6 col-sm-6 mb-1">
        <a
          href="{{ project.links['github'] }}"
          class="btn btn-dark w-100"
          target="_blank"
          >Github</a
        >
      </div>
    </div>
  </div>
</div>
