#contact {
  min-height: 100vh;
  padding-top: 6rem;
  height: fit-content;
}

.form-container {
  background-image: url("../../../../assets/back-contact.jpg");
  height: 90vh;
  min-height: 90vh;
  background-size: cover;
}
