<section id="about" class="container">
  <div>
    <h1 class="text-center mb-3 pb-3 border-bottom">About Me</h1>
    <div class="card--about container">
      <div class="row">
        <div class="col-sm">
          <div class="container w-75 mb-3 image--container">
            <img
              src="../../../assets/profile.jpg"
              class="about--photo img-fluid rounded-circle"
              alt="Alex Charco"
            />
          </div>
        </div>
        <div class="col-sm">
          <div class="flex-row">
            <p class="lead fs-3 about--text" >
              Hi! My name is Alex Charco, I am Software Developer located at
              <strong class="text-danger"> Quito-Ecuador.</strong> I'm currently
              working at
              <strong class="text-danger">
                Devsu as a Full-Stack Developer.
              </strong>
              I work with many diferent technologies in order to build mobile,
              back-end and front-end solutions. I do love investigation and
              creation of new products. Always ready to face new problems.
              <li>Software Developer with 1 year of experience.</li>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
